//FORMATTING STYLES TO THE BROWSER
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//--MOBILE 320PX--
.section__login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eecab1b6;
    font-family: var(--tipoLetra);
    font-size: 1.5rem;
}
.title__spotify{
    color: #240910;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 2rem;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #fff;
    font-size: 2rem;
}

//--DESKTOP 1366PX--
@media (min-width: 1366px) {
    .section__login{
        height: 100vh;
    }
    .title__spotify{
        font-size: 3rem;
    }
    
}