//--MOBILE 320PX--
.nav {
    background-color: #6c3430;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    align-items: center;
    bottom: 0;
    padding: .6rem;
    -webkit-box-shadow: 10px 10px 47px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 47px 0px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 47px 0px #6c3430;
}

//--TABLET 768PX--
@media (min-width: 768px) {
    .nav {
        background-color: #6c3430;
        flex-direction: column;
        width: 20%;
        height: 100vh;
    }
}

//--LAPTOP 1024PX--
@media (min-width: 1024px) {
    .nav {
        width: 15%;
    }
}