//--MOBILE 320PX--
.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fe6b638b;

    &__name {
        font-size: .8rem;
        color: #000;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__figure {
        width: 9%;
    }

    &__img {
        width: 100%;
        border-radius: .5rem;
        padding: 0;
    }
}

//--MOBILE 375PX--
@media (min-width: 375px) {
    .header__name {
        font-size: .9rem;
    }

    .header__figure {
        width: 8%;
    }

    .header__img {
        width: 100%;
    }
}

//--MOBILE 425PX--
@media (min-width: 425px) {
    .header__name {
        font-size: 1rem;
    }

    .header__figure {
        width: 7%;
    }

    .header__img {
        width: 100%;
    }
}

//--TABLET 768PX--
@media (min-width: 768px) {
    .header {
        justify-content: center;

        &__name {
            font-size: 1.3rem;
            font-weight: bolder;
            margin-right: 3rem;
        }

        &__figure {
            width: 5%;
            margin-right: -10rem;
        }
    }
}

//--LAPTOP 1024PX--
@media (min-width: 1024px) {
    .header {
        height: 12vh;
        justify-content: space-evenly;

        &__name {
            font-size: 2rem;
            font-weight: bolder;
        }
    }
}

//--DESKTOP 1366PX--
@media (min-width: 1366px) {
    .header {
        height: 15vh;
        
        &__name {
            font-size: 1.5rem;
        }

        &__figure {
            width: 3.5%;
            margin-right: -10rem;
        }
    }
}