//--MOBILE 320PX--
.btn__heart{
    background-color: #fff;
    color: #6c3430;
    border: 0px solid #fff;
    border-radius: 30%;
    font-size: 1.2rem;
    margin-left:3.5rem;
    height: 10%;
    cursor: pointer;
}

//--MOBILE 375PX--
@media (min-width: 375px){
    .btn__heart{
        margin-left: 4.5rem;
    }
}

//--MOBILE 425PX--
@media (min-width:425px){
    .btn__heart{
        margin-left: 5rem ;
    }
}

//--TABLET 768PX--
@media (min-width:768px){
    .btn__heart{
        font-size: 2rem;
        margin-left: 5rem;
    }
}

//--LAPTOP 1024PX--
@media (min-width:1024px){
    .btn__heart{
        margin-left: 6.5rem;
    }
}


//--DESKTOP 1366PX--
@media (min-width:1366px){
    .btn__heart{
        margin-left: 5.5rem;
    }
}