//FORMATTING STYLES TO THE BROWSER
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//--MOBILE 320PX--
.img__login {
    width: 100%;
    padding: .5rem;
}

//--DESKTOP 1366PX--
@media (min-width: 1366px) {
    .img__login{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}