*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html::-webkit-scrollbar{
    width: 8px; 
}
html::-webkit-scrollbar-thumb{
    background: #fe6c63;
    border: 1px solid white;
    border-radius: 5px;
}